@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Wendy+One&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-size: 16px regular;
    line-height: 150%;
    font-family: "Ubuntu";
}

.header {
    width: auto;
    height: 80px;
    display: flex; /* Activează modul Flexbox */
    justify-content: space-around; /* Spațiere între div-uri (poți folosi `center`, `space-around` sau `flex-start`) */
    align-items:center; /* Aliniază vertical conținutul div-urilor */
    background-color: #000000;
}

.logo {
    width: 75px;
    
}

.menu {
    display: flex; /* Activează modul Flexbox */
    justify-content: space-around; /* Spațiere între div-uri (poți folosi `center`, `space-around` sau `flex-start`) */
    align-items: center; /* Aliniază vertical conținutul div-urilor */
    gap: 28px;
    font-weight: bold;
    font-family: "Ubuntu";
}

.menu a {
    color: white;
}

a {
    text-decoration: none; /*scoate linia de subliniere la text*/
}

.menu a:hover {
    text-decoration: underline 2px #EFA92F;/*adaugă linie roză de subliniere a elementului din meniu*/
}

.btn-secundar {
    font-weight: bold;
    color: #EFA92F;
    padding: 12px 32px;
    border: 2px solid;
    border-radius: 12px;
    border-color: #EFA92F;
    background-color: black;
}

.btn-secundar:hover {
    border-color: #0D92F8;
    color: #0D92F8;
}

.btn-secundar2 {
    font-weight: bold;
    color: #EFA92F;
    padding: 12px 32px;
    border: 2px solid;
    border-radius: 12px;
    border-color: #EFA92F;
    background-color: white;
}

.btn-secundar2:hover {
    border-color: #0D92F8;
    color: #0D92F8;
}

h1 {
    font-size: 54px;
    font-weight: bold;
    line-height: 130%;
    margin-bottom: 28px;
    font-family: "Wendy One";
    color: white;
    text-shadow: -4px 4px 4px #00000040;
    width: 50%;
}

.p1 {
    margin-bottom: 40px;
    width: 50%;

}

.btn-principal {
    font-weight: bold;
    color: white;
    padding: 12px 32px;
    background-color: #0D92F8;
    border-radius: 12px;
    border: none;
}

.btn-principal:hover {
    background-color: black;
}

.float {
    float: left;
    margin-top: 100px;
    margin-left: -75px;
}

.underwater {
    background-image: url("file://C:/Users/user/Desktop/site-work/images/background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 128px
}

.hero {
    display: flex; /* Pentru aliniere flexibilă */
    flex-direction: right; /* Divurile interioare sunt aranjate pe verticală */
    margin: 0 auto;
    align-items: center; /* Centrează blocul pe orizontală */
    width: 1198px; /* Dimensiune pentru demonstrație */
    height: 810px;
   
}

.h2 {
    width: 444px;
    font-family: "Wendy One";
}

h3 {
    font-size: 28px;
}

h2 {
    font-size: 40px;
    line-height: 130%;
    font-family: "Wendy One";
    color: #EFA92F;
}

.Subscribe {
   color: black; 
}

.block-cards {
    display: flex;
    flex-direction: right;
    width: 1002px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 75px;
}

.card {
    width: 276px;
    margin-right: 88px;
}

.gap {
    margin-bottom: 28px;
}

.store {
    display: flex;
    flex-direction: right;
    align-items: left;
    font-weight: 500;
}

.store img {
    margin-right: 16px;
}

.section3 {
        display: flex; /* Pentru aliniere flexibilă */
        flex-direction: right; /* Divurile interioare sunt aranjate pe verticală */
        margin: 0 auto;
        align-items: center; /* Centrează blocul pe orizontală */
        width: 1200px; /* Dimensiune pentru demonstrație */
       
        
}

.p2 {
    margin-bottom: 40px;
}


.card-img {
    width: 380px;
    margin-right: 32px;
}

h4 {
    font-size: 24px;    
}

.stars {
    display: flex;
    flex-direction: right;
    align-items: left;
    font-weight: 500;
}

.stars img {
    margin-right: 165px;
}

.section4 {
    margin-top: 128px;
}

.block-teacher {
    display: flex;
    flex-direction: right;
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 128px;
}

.contacts {
   background-color: #FFEFCD; 
   height: 464px;
   width: 1200px;
   border-radius: 32px;

    display: flex;
    flex-direction: right;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    margin-bottom: 128px;

    
}

.info-inputs {
    width: 379px;
    height: 156px;
}

.p3 {
    margin-bottom: 40px;
}

input {
    width: 428px;
    padding: 12px 12px;
    margin-bottom: 12px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color:#FFEFCD;
}

.btn-principal-input {
    font-weight: bold;
    color: white;
    padding: 12px 32px;
    background-color: #000000;
    border-radius: 12px;
    border: none;
    width: 428px;
    text-align: center;
}

.btn-principal-input:hover {
    background-color: #EFA92F;
}

.footer {
    display: block;
    background-color: rgba(0, 0, 0, 1);
    box-sizing:border-box;
    height: 238px;
    margin: 0%;
    padding: 0%;
    position: relative;
}

.header-footer {
    padding-top: 24px;
}

hr {
    width: 1200px;
    margin-top: 66px;
    margin-bottom: 24px;
    border: 1px solid #AFAFAF;
}